<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name ="GeolocailsationFOContext" connectionString="Data Source=188.121.44.214;Integrated Security=False;User ID=bilel;Connect Timeout=15;Encrypt=False;Packet Size=4096; Password=bilel123123"/>
  </connectionStrings>
</configuration>